<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="style.css">
	<script>
		function showDaysToAddInput() {
			var dropdown = document.getElementById("days-to-add-dropdown");
			var selectedValue = dropdown.options[dropdown.selectedIndex].value;
			var outroQuantidade = document.getElementById("outro-quantidade");

			if (selectedValue === "outro") {
				outroQuantidade.style.display = "block";
			} else {
				outroQuantidade.style.display = "none";
			}
		}
		function sendData() {
			fetch
			// Recebe os dados do usuário
			var startDate = document.getElementById("start-date").value;
			var daysToAddDropdown = document.getElementById("days-to-add-dropdown");
			var daysToAddCustom = document.getElementById("days-to-add-custom");
			var daysToAdd = daysToAddDropdown.value;

			if (daysToAdd === "outro") {
				daysToAdd = daysToAddCustom.value;
			}

			var city = document.getElementById("city").value;

			if (city === "") {
				alert("Por favor, selecione uma cidade.");
				return;
			}

			// Envia os dados usando AJAX
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/calculate" + city, true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
					// Atualiza a pagina com o resultado
					var resultElement = document.getElementById("result");
					var resultText = "O seu prazo final é: " + new Date(xhr.responseText)
						.toLocaleDateString("pt-BR", { day: "numeric", month: "long", year: "numeric" });
					resultElement.textContent = resultText
				}
			};
			xhr.send("startDate=" + startDate + "&daysToAdd=" + daysToAdd);
		}
	</script>
	<title>Calculadora de prazos</title>
	<h1>Calculadora de prazos processuais cíveis.</h1>
	<h2>Digite a data de seu prazo inicial e a quantidade de dias do seu prazo</h2>
</head>

<body>
	<div class="informacoes">
		<p>
			O sistema a seguir é uma ferramenta simples para mera consulta de prazos processuais cíveis no âmbito do
			Tribunal
			de Justiça
			do Estado de São Paulo a fim de auxiliar advogados, serventia e colegas de trabalho, especialmente da
			Comarca de
			Ribeirão Preto.<br>
			A calculadora de prazos é específica para processos<strong>digitais</strong>da área cível.
		</p>
		<p>
			O resultado informado é calculado em dias úteis e com base na tabela de feriados e suspensão de prazos do site do<a href="https://www.tjsp.jus.br/CanaisComunicacao/Feriados/ExpedienteForense" target="_blank" rel="external">Tribunal de Justiça</a> de acordo com cada região.
		</p>
	</div>

	<div class="form-group">
		<label>Data da disponibilização no DO?</label>
		<label><input type="radio" name="do-date" value="sim">Sim</label>
		<label><input type="radio" name="do-date" value="nao" checked>Não</label>
		<label for="start-date">Data inicial:</label>
		<input type="date" id="start-date" />

		<label for="city">Escolha a cidade:</label>
		<select id="city" class="form-control" name="city">
			<option value="">Selecione uma cidade</option>
			<option value="ribeirao-preto">Ribeirão Preto</option>
			<option value="campinas">Campinas</option>
			<option value="presidente-prudente">Presidente Prudente</option>
			<option value="marilia">Marília</option>
		</select>		
		<label for="days-to-add-dropdown">Escolha a quantidade de dias:</label>
		<select id="days-to-add-dropdown" class="form-control" name="days-to-add-dropdown"
			onchange="showDaysToAddInput()">
			<option value="5">5 dias</option>
			<option value="15">15 dias</option>
			<option value="30">30 dias</option>
			<option value="60">60 dias</option>
			<option value="outro">Outro</option>
		</select>		
		<div>
			<div id="outro-quantidade" style="display: none;">
				<label for="days-to-add-custom">Outra quantidade:</label>
				<input type="number" id="days-to-add-custom" placeholder="Digite o prazo" />
			</div>
			<br>			
			<button onclick="sendData()">Calcular</button>			
			<br>			
			<button onclick="window.location.reload()">Limpar</button>			
			<br>
			<div id="result"></div>
			<br>
			
		</div>
	</div>
	<footer>Criado por Guilherme Pedroza
		<br>
		contato gpedroza@tjsp.jus.br
	</footer>
</body>

</html>