<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="style.css">
	<script>
		function showDaysToAddInput() {
			var dropdown = document.getElementById("days-to-add-dropdown");
			var selectedValue = dropdown.options[dropdown.selectedIndex].value;
			if (selectedValue === "outro") {
				document.getElementById("days-to-add-custom").style.display = "block";
			} else {
				document.getElementById("days-to-add-custom").style.display = "none";
			}
		}
		function sendData() {
			fetch
			// Recebe os dados do usuário
			var startDate = document.getElementById("start-date").value;
			var daysToAdd = document.getElementById("days-to-add-dropdown").value;
			if (daysToAdd === "outro") {
				daysToAdd = document.getElementById("days-to-add-custom").value;
			}
			
			var city = document.getElementById("city").value;

			if (city === "") {
				alert("Por favor, selecione uma cidade.");
				return;
			}

			// Envia os dados usando AJAX
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/calculate" + city, true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
					// Atualiza a pagina com o resultado
					var resultElement = document.getElementById("result");
					var resultText = "O seu prazo final é: " + new Date(xhr.responseText)
						.toLocaleDateString("pt-BR", {day: "numeric", month: "long", year: "numeric"});
					resultElement.textContent = resultText
				}
			};
			xhr.send("startDate=" + startDate + "&daysToAdd=" + daysToAdd);
		}
	</script>
	<title>Calculadora de prazos</title>
	<h1>Calculadora de prazos processuais cíveis.</h1>
	<h2>Digite a data de seu prazo inicial e a quantidade de dias do seu prazo</h2>
</head>

<body>
	<div>
		<label for="start-date">Data inicial:</label>
		<input type="date" id="start-date" />
	</div>
	<br>
	<div class="form-group">
		<label for="city">Escolha a cidade:</label>
		<select id="city" class="form-control" name="city">
			<option value="">Selecione uma cidade</option>
			<option value="ribeirao-preto">Ribeirão Preto</option>
			<option value="campinas">Campinas</option>
			<option value="presidente-prudente">Presidente Prudente</option>
			<option value="marilia">Marília</option>
		</select>
		<br><br>
		<label for="days-to-add-dropdown">Escolha a quantidade de dias:</label>
		<select id="days-to-add-dropdown" class="form-control" name="days-to-add-dropdown" onchange="showDaysToAddInput()">
			<option value="5">5 dias</option>
			<option value="15">15 dias</option>
			<option value="30">30 dias</option>
			<option value="60">60 dias</option>
			<option value="outro">Outro</option>
		</select>
	</div>
	<br>
	<div>
		<div id="outro-quantidade" style="display: none;">
			<label for="days-to-add">Outra quantidade:</label>
			<input type="number" id="days-to-add" placeholder="Digite o prazo" />
		</div>
		<br>
		<div>
			<button onclick="sendData()">Calcular</button>
		</div>
		<br>
		<div id="result"></div>
		<br>
		<footer>Criado por Guilherme Pedroza</footer>
</body>

</html>